<!-- offcanvas  -->
<div class="offcanvas offcanvas-end custom-offcanvas" tabindex="-1" id="cart-offcanvas"
  aria-labelledby="cart-offcanvas">
  <div class="offcanvas-header custom-offcanvas-header text-white" style="background-color: #37474f;">
    <h5 class="offcanvas-title" id="cart-offcanvas">已選購餐點</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body custom-offcanvas-body">
    <ul class="py-4 mb-0" id="cartList">
    </ul>
  </div>
  <div class="p-3" id="account">
    <p class="text-end fs-5  fw-bold mb-3">總金額: NT$<span id="totalPrice"> </span>元</p>
    <div class="cartBtn-group d-flex justify-content-between">
      <a href="./productLists.html" class="btn btn-primary w-50 me-2">繼續選購</a>
      <a href="./cart.html" class="btn btn-success  w-50">前往結帳</a>
    </div>

  </div>
</div>