$utilities: map-merge(
  $utilities,
  (
    "ratio": (
        property: --bs-aspect-ratio,
        class: ratio,
        responsive: true,
        values: ($aspect-ratios),
      ),
      "font-size":
       map-merge(
        map-get($utilities, "font-size"),
        (
          responsive: true,
          rfs: false,
        )
      ),
  )
);